/* Write your CSS here */
.image {
  height: 140px;
  width: 230px;
}
.list-items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px;
}
.names {
  font-family: 'Roboto';
  color: #000000;
  font-size: 15px;
}
